@import "tailwindcss";

:root {
  --background: #E3E3E3;
  --foreground: #171717;

  --brand-primary: #3D7A70;
  --brand-dark: #2C504B, 
  --brand-light: #96CFC8,
  --brand-bg-light: #DEFAF6, 
  --brand-bg-accent: #BEFFF6,
  --color-gray-ui: #4F4F4F, 
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-brand-primary: var(--brand-primary);
  --color-brand-dark: var(--brand-dark);
  --color-brand-light: var(--brand-light);
  --color-brand-bg-light: var(--brand-bg-light);
  --color-brand-bg-accent: var(--brand-bg-accent);
  --color-brand-gray-ui: var(--brand-gray-ui);

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #E3E3E3;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
